
\.idea/

venv/

python_back_end/__pycache__/

python_back_end/data_cleaning/__pycache__/

python_back_end/utilities/__pycache__/

resources/temp/*
!resources/temp/.gitkeep
!resources/temp/pickles/
resources/temp/pickles/*
!resources/temp/pickles/.gitkeep

resources/conversion/*
!resources/conversion/.gitkeep

*.xls#

python_back_end/triangle_formatting/__pycache__/

*.pyc

*.xlsx#

docs/build/

resources/left_triangles/*
!resources/left_triangles/.gitkeep
resources/right_triangles/*
!resources/right_triangles/.gitkeep
resources/raw_test_files/temp.xls

third_party/sheet_io/.classpath

third_party/sheet_io/.project

third_party/sheet_io/bin/

third_party/poi-4.1.0/

*.prefs

java/sheet_io/bin/

java/sheet_io/.project

resources/test/add_sheet_test.xls

*.log
