
db1

db\.sqlite3

*.pyc

polls/static/polls/images/Elephant-Spearmints-black_green_big\.png

*.png

admin/

data_cloud/tables\.css

*.csv#

data_cloud/resources/temp/


*.pkl

pop_save\.txt


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

db\.json


table_cleaning/__pycache__/

table_cleaning/resources/uploads/

*.log
